{% extends 'base.html' %}
{% load static %}
{% load user_extras %}

{% block page-header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if request.user.is_staff or request.user.is_superuser %}
            <hr><h3 class="text-center cursive-text-color">Venue</h3><hr>
            {% else %}
            <h3 class="text-center cursive-text-color">Venue</h3>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- <hr> -->
            <small>
                <h3 class="text-center cursive-text-color">When: 3 August 2023 at 14:00</h3>
            </small>
            <!-- <hr> -->
        </div>
    </div>
    {% if request.user.is_staff or request.user.is_superuser %}
    <!-- Add an individual venue record -->
    <div class="row justify-content-center">
        <div class="col-auto mx-2 pb-2">
            <small class="ml-3"><a class="btn accept-btn border" href="{% url 'add_venue' %}"></i>Add A New
                    venue</a></small>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <!-- List of venues -->
        {% for venue in venues %}
        <div class="col-sm-12 col-md-6">
            <div class="card h-100 border-0">
                <p class="text-center cursive-text-color"> {{ venue.name }}</p>
                <div class="row justify-content-center">
                    <div class="card-body">
                        <div class="col mb-2">
                            <p class="venue-address">{{ venue.address_line_1 }}</p>
                            <p class="venue-address">{{ venue.address_line_2 }}</p>
                            <p class="venue-address">{{ venue.city }}</p>
                            <p class="venue-address">{{ venue.county }}</p>
                            <p class="venue-address">{{ venue.postcode }}</p>
                            <p class="venue-address mt-2">{{ venue.email }}</p>
                            <p class="venue-address">{{ venue.phone_number }}</p>
                            <input type="hidden" id="lat-{{ forloop.counter }}" name="lat" value="{{ venue.lat }}">
                            <input type="hidden" id="lng-{{ forloop.counter }}" name="lng" value="{{ venue.lng }}">
                        </div>
                        <div class="col">
                            <div class="image-container venue">
                                {% if venue.image %}
                                <a href="{{ venue.venue_url }}">
                                    <img class="card-img-bottom img-fluid img-thumbnail" src="/media/{{ venue.image }}"
                                        alt="{{ venue.name }}">
                                </a>
                                {% else %}
                                <a href="{{ venue.venue_url }}">
                                    <img class="card-img-bottom img-fluid img-thumbnail"
                                        src="{{ MEDIA_URL }}noimage.png" alt="{{ venue.name }}">
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">                         
                            
                            <div class="maps" id="map-{{ forloop.counter }}"></div>                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if request.user.is_staff or request.user.is_superuser %}
                        <div class="d-flex justify-content-center">
                            <small class="ml-3">
                                <a class="translate-middle" href="{% url 'edit_venue' venue.id %}">Edit</a> |
                                <a class="text-danger" href="{% url 'delete_venue' venue.id %}">Delete</a>
                            </small>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    var APIKey = 'AIzaSyBvOji9Tszt3e2Oh_f18jb4YPe2fO-_fhY'
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvOji9Tszt3e2Oh_f18jb4YPe2fO-_fhY&callback=initMap"></script>
<script>
    // Initialize and add the map


    function initMap() {
  const churchLat = parseFloat(document.getElementById('lat-1').value);
  const churchLng = parseFloat(document.getElementById('lng-1').value);
  const venueLat = parseFloat(document.getElementById('lat-2').value);
  const venueLng = parseFloat(document.getElementById('lng-2').value);
  const options = [
    {
      zoom: 13,
      icon: "https://i.imgur.com/J2L3NeD.png",
      center: {
        lat: churchLat,
        lng: churchLng,
      },
    },
    {
      zoom: 13,
      icon: "🏡",
      center: {
        lat: venueLat,
        lng: venueLng,
      },
    },
  ];
  for (let i = 0; i < options.length; i++) {
    const map = new google.maps.Map(document.getElementById(`map-${i + 1}`), options[i]);
    const marker = new google.maps.Marker({
      position: {
        lat: options[i].center.lat,
        lng: options[i].center.lng,
        icon: options[i].icon,
        map,
      },
    });
    marker.setMap(map)
  }
}
</script>
{% endblock %}