<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceptance Email</title>
</head>
<body>
    <div class="row">
        <div class="col">
            <p>Dear {{ first_name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">Thank you for accepting our invitation.<br>We are so excited you will be helping us to celebrate our special day. <br> Please will you review the menu and let us know what you want to eat as soon as possible so we can pass the information onto the reception venue. You will find all the information you need on the website including the venue, the schedule for the day, the wedding breakfast menu and some gift ideas but if you do have any question, please do not hesitate to contact us.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">love</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col cursive-text-color">
            <h3 class="text-center">Ciara and Sam</h3>
        </div>
    </div>
</body>
</html>
