{% extends 'base.html' %}
{% load static %}

{% block page-header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- Contact Page - -->
<div class="container mt-5">
    <h3 class="text-center cursive-text-color">Contact Us</h3>
    <form method="POST" action="{% url 'contact' %}" class="form"">
        {% csrf_token %}
        {{ form|crispy }}
        <div class=" form-actions mt-2">
            <button type="submit">Send</button>
        </div>
    </form>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}