<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col">
            <p>Dear {{ guest_name }},</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">Thank you for responding to our invitation.<br>We are sorry you are unable to join us for our celebration but look forward to seeing you soon.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">love</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col cursive-text-color">
            <h3 class="text-center">Ciara and Sam</h3>
        </div>
    </div>
</body>
</html>
