{% extends 'base.html' %}
{% load static %}

{% block page-header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-8 offset-md-2">
            <h1 class="banner  text-center ">Ciara and Sam</h1>
            <h2 class="display-2 heading-font text-center">Are Getting Married</h2>
        </div>
        <div class="col-7"></div>
        <div class="col-5">
            <h4>
                <a href="" class="rsvp-button btn btn-lg banner-font text-uppercase  text-right">RSVP</a>
            </h4>
        </div>
    </div>
</div>

{% endblock %}