{% extends 'base.html' %}
{% load static %}

{% block page-header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Landing Page - -->
<section id="home" class="container no-gutters">
  <div class="row home-row">
    <div class="col-12">
      <h1 class="banner  text-center mt-5 pt-5">Ciara and Sam</h1>
      <h2 class="heading-font text-center my-2">Are Getting Married</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">
      <h4 class="">
        <a href="" class="rsvp-button btn btn-lg rsvp end-0 d-flex  align-text-bottom">x</a>
      </h4>
    </div>
  </div>
</section>

<!-- Landing Page - Our Story -->
<section id="our-story">
  <div class="row mx-1">
    <div class="col-12">
      <h3 class="heading-font text-center mt-5 pt-5">Our Story</h1>
    </div>
  </div>

  <p class="fs-4 mx-5">Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
  </p>

  <div id="carouselCS" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item carousel-size active">
        <img src="media/carousel/ciara-sam-1.jpg" class="d-block w-100" alt="ciara-sam-image">
      </div>
      <div class="carousel-item">
        <img src="media/carousel/ciara-sam-2.jpg" class="d-block w-100" alt="ciara-sam-image">
      </div>
      <div class="carousel-item">
        <img src="media/carousel/ciara-sam-3.jpg" class="d-block w-100" alt="ciara-sam-image">
      </div>
      <div class="carousel-item">
        <img src="media/carousel/ciara-sam-4.jpg" class="d-block w-100" alt="ciara-sam-image">
      </div>
      <div class="carousel-item">
        <img src="media/carousel/ciara-sam-5.jpg" class="d-block w-100" alt="ciara-sam-image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCS" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCS" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- Landing Page - Location -->
<section id="location">
  <div class="row mx-1">
    <div class="col-12">
      <h3 class="heading-font text-center mt-5 pt-5">York</h3>
      <!-- The information below was obtained on the website "https://www.citi-wise.com/york/landmarks-and-history/brief-history-of-york/" -->
      <p class="fs-4 mx-5">The beautiful city of York is steeped in history and started life as a small roman military
        fort. The ancient Roman roads of Via Praetoria and Via Prinicipalis ran under todays streets,Stongaete and
        Petergate. During the reign of the Northubrian kings, York boomed and became a centre of trade with the rest of
        Europe. In the 7th century Paulinius of York erected a small wooden church which later became the iconic
        cathedral. Over the years York has been invaded by Danes, Vicking and Norman forces.The vikings gave York it's
        viking name of Jorvik.</p>
      <p class="fs-4 mx-5">It took over 250 years to build York Minster between the years of 1220 and 1475. The city if
        full of ginnels and snickets, cobbled alleyways and stone streets including the infamous Shambles.</p>
      <p class="fs-4 mx-5">York if full of places to visit including York Minster, Clifford Tower, York Castle Museum,
        Jorvik Viking Centre, The Shambles, National Railway Museum or walk the Medieval City Walls</p>
      <div class="text-center">
        <figure class="figure">
          <img src="media/shambles-york.jpg" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-end">The Shambles</figcaption>
        </figure>
        <figure class="figure">
          <img src="media/york-minster.PNG" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-end">York Minster</figcaption>
        </figure>
        <!-- <img src="media/shambles-york.jpg" class="rounded " alt="shambles">
          <img src="media/york-minster.PNG" class="rounded " alt="york-minster"> -->
      </div>
    </div>
  </div>
</section>
<!-- Landing Page - Covid19 -->
<section id="covid-restrictions">
  <div class="row mx-1">
    <div class="col-12">
      <h3 class="heading-font text-center mt-5 pt-5">Covid19 Restrictions</h3>
      <p class="fs-4 mx-5">Weddings in England are expected to take place with little to no restrictions from 21st June
        after the successful return of weddings for 30 people.</p>
      <p class="fs-4 mx-5">Prime Minister Boris Johnson allowed weddings of up to 30 from the 17th May as England moved
        into Step 3 of lockdown easing, and he said he was hopeful for all or most restrictions to be lifted by the 21st
        June 2021.</p>
      <p class="fs-4 mx-5">However, an expected update on the 24th May did not go ahead due to rising cases of the
        Indian Covid variant. Mr Johnson made clear that the easing of lockdown restrictions will be driven by 'data'
        rather than 'dates', which means this timeline will be subject to regular review - and could be pushed back.</p>
      <p class="fs-4 mx-5">Couples who are planning their 2021 weddings will be eager for the latest advice so we've
        gathered everything we know about what is currently allowed at weddings across the UK and what to expect from
        June 21st.</p>
      <p class="fs-4 mx-5">You can read the full guidelines for Step 3 weddings here - which include venues and places
        of worship able to provide food and drink again, indoor performances allowed at ceremonies and receptions, and
        wedding speeches resuming outdoors - and check out our breakdown below.</p>
      <p class="fs-4 mx-5">The devolved administrations of Scotland, Wales and Northern Ireland have set their own rules
        on weddings in 2021, which we've covered too. Scroll on to find out everything you need to know if you're having
        a 2021 wedding.</p>
    </div>
  </div>
</section>

{% endblock %}