{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page-header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Landing Page - -->
<section id="home" class="container-fluid no-gutters">
    <div class="row home-row">
        <div class="col-12">
            <h1 class="banner cursive-text-color text-center mt-5 pt-5">Ciara and Sam</h1>
            <h2 class="cursive-text-color text-center my-2">Are Getting Married</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <h2 class="">
                <a href="{% url 'account_login' %}"
                    class="rsvp-button btn btn-lg rsvp end-0 d-flex  align-text-bottom"></a>
            </h2>
        </div>
    </div>
</section>

<!-- Landing Page - Our Story -->
<section id="our-story">
    <div class="row mx-1">
        <div class="col-12">
            <h2 class="cursive-text-color text-center mt-5 pt-5">Our Story</h2>
        </div>
    </div>

    <p class="fs-5 mx-2">Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.
    </p>

    <div id="carouselCS" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item carousel-size active">
                <img src="media/carousel/ciara-sam-1.jpg" class="d-block w-100" alt="ciara-sam-image">
            </div>
            <div class="carousel-item">
                <img src="media/carousel/ciara-sam-2.jpg" class="d-block w-100" alt="ciara-sam-image">
            </div>
            <div class="carousel-item">
                <img src="media/carousel/ciara-sam-3.jpg" class="d-block w-100" alt="ciara-sam-image">
            </div>
            <div class="carousel-item">
                <img src="media/carousel/ciara-sam-4.jpg" class="d-block w-100" alt="ciara-sam-image">
            </div>
            <div class="carousel-item">
                <img src="media/carousel/ciara-sam-5.jpg" class="d-block w-100" alt="ciara-sam-image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCS" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCS" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- Landing Page - Location -->
<section id="location">
    <div class="row mx-1">
        <div class="col-12">
            <h2 class="cursive-text-color text-center mt-5 pt-5">York</h2>
            <!-- The information below was obtained on the website "https://www.citi-wise.com/york/landmarks-and-history/brief-history-of-york/" -->
            <p class="fs-5 mx-2">The beautiful city of York is steeped in history and started life as a small roman
                military
                fort. The ancient Roman roads of Via Praetoria and Via Prinicipalis ran under todays streets,Stongaete
                and
                Petergate.</p>
            <p class="fs-5 mx-2">During the reign of the Northubrian kings, York boomed and became a centre of trade
                with the
                rest of Europe. In the 7th century Paulinius of York erected a small wooden church which later became
                the iconic
                cathedral. Over the years York has been invaded by Danes, Vicking and Norman forces.The vikings gave
                York it's
                viking name of Jorvik.</p>
            <p class="fs-5 mx-2">It took over 250 years to build York Minster between the years of 1220 and 1475. The
                city if
                full of ginnels and snickets, cobbled alleyways and stone streets including the infamous Shambles.</p>
            <p class="fs-5 mx-2">York if full of places to visit including York Minster, Clifford Tower, York Castle
                Museum,
                Jorvik Viking Centre, The Shambles, National Railway Museum or walk the Medieval City Walls</p>
            <div class="text-center">
                <figure class="figure">
                    <img src="media/shambles-york.jpg" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-end">The Shambles</figcaption>
                </figure>
                <figure class="figure">
                    <img src="media/york-minster.PNG" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-end">York Minster</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- Landing Page - Covid19 -->
<section id="covid-restrictions">
    <div class="row mx-1">
        <div class="col-12">
            <h2 class="cursive-text-color text-center mt-5 pt-5">Covid19 Restrictions</h2>
            <h3 class="cursive-text-color mx-2">Wedding and civil partnership ceremonies</h3>
            <p class="fs-5 mx-2">Weddings and civil partnership ceremonies will be permitted for up to 30 people in
                COVID-secure venues that are permitted to open.</p>
            <p class="fs-5 mx-2">Alternative wedding ceremonies, and weddings under the law of England and Wales that
                are
                permitted to take place outdoors, with up to 30 people, including in COVID-secure venues or private
                gardens.</p>
            <h3 class="cursive-text-color mx-2">Receptions, celebrations and viewings</h3>
            <p class="fs-5 mx-2">Receptions and celebrations will be permitted to take place with up to 30 people. They
                can
                take place either indoors in a COVID-secure venue (this does not include private homes), or outdoors
                (which does
                include private gardens). Although there is no requirement to be COVID-secure in a private garden, the
                organiser
                should take all reasonable steps to limit the risks of transmission and must adhere to the gathering
                limit of up
                to 30 people. If the event is taking place outdoors, it can be partially sheltered with, for example, a
                marquee,
                provided that at least 50% of the walled area remains open.</p>
            <p class="fs-5 mx-2">A broader range of venues will be able to be open at this step, as set out in the
                roadmap.
                Any venue which is not required in law to remain closed will be able to host events and allow viewings
                with
                appropriate COVID-19 mitigation measures in place. This includes, for example, any restaurant or indoor
                visitor
                attraction.
            </p>
        </div>
    </div>
</section>
<!-- footer-->
<footer>
    <div class="row ">
        <div class="col-12 col-md-6 my-2">
            <div class="footer-copyright">
                <div id="copy" class="container-footerr">
                    © 2021 Copyright Siobhán M Baines
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 my-2">
            <ul class="float-end">
                <li class="footer-link">
                    <a href="#">Contact Us</a>
                </li>
                <li class="footer-link">
                    <a href="{% url 'register_request' %}">Bride & Groom Registration</a>
                </li>
            </ul>
        </div>
    </div>
</footer>


{% endblock %}