{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page-header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Invitation RSVP Page - -->
<div id="rsvp" class="container-fluid no-gutters">
    <div class="row rsvp-row">
        <div class="col-12">
            <h1 class="banner cursive-text-color text-center mt-5 pt-5">Ciara and Sam</h1>
            <h2 class="cursive-text-color text-center my-2">Are Getting Married</h2>
        </div>
    </div>
    <!-- Table containing all guests invited -->
    <div class="row">
        <div class="col mx-2">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="guest-table cursive-text-color" scope="col">First Name</th>
                            <th class="guest-table cursive-text-color" scope="col">Last Name</th>
                            <th class="guest-table cursive-text-color" scope="col">Accepted/Decline</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for guest in guests %}
                            <tr>
                                <td>{{ guest.first_name }}</td>
                                <td>{{ guest.last_name }}</td>
                                <td><select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">Accept</option>
                                    <option value="2">Decline</option>
                                  </select></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <small class="ml-3"><a class="text-success"
                    href="{% url 'view_guest' guest.id %}"></i>View</a> |
                <a href="{% url 'edit_guest' guest.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_guest' guest.id %}">Delete</a>
            </small>
            </div>
        </div>
    </div>
</div>

{% endblock %}