{% extends 'base.html' %}
{% load static %}

{% block page-header %}
<div class="container header-container">

    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <!-- upload guest list modal button -->
            <button type="button" class="modal-button mt-2" data-bs-toggle="modal"
                data-bs-target="#uploadGuestListModal">
                <i class="fas fa-edit mr-1"></i>&nbsp;Upload Guest List
            </button>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-6">
                    <input type="text" name="query" id="query" minlength="3" class="validate"
                        placeholder="Search Last Name" required>
                    <label for="query" class="query" aria-placeholder="Search Last Name"></label>
                </div>
                <div class="col-3">
                    <button type="button" class="btn accept-btn "><i class="fas fa-search left"></i>&nbsp;Search</button>
                </div>
                <div class="col-3">
                    <a href="#" class="btn btn-secondary"><i class="fas fa-times-circle left"></i>&nbsp;Reset</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col mx-5">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Guest Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col" >Last Name</th>
                    <th scope="col" >Accepted</th>
                    <th scope="col" >Meal Chosen</th>
                    <th colspan="3" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for guest in guests %}
                    <td>{{ guest.guest_id }}</th>
                    <td>{{ guest.first_name }}</td>
                    <td>{{ guest.last_name }}</td>
                    <td>{{ guest.accepted}}</td>
                    <td>{{ guest.meal_chosen }}</td>
                    <td><a href="#">View</a></td>
                    <td><a href="#">Change</a></td>
                    <td><a href="#">Delete</a></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

{{ block.super }}
{% include 'guests/includes/upload_guest_list.html'%}
{% endblock %}