{% extends 'base.html' %}
{% load static %}

{% block page-header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Upload a csv file containing guests -->
        <div class="card mx-auto mb-2">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" class="form-border">
                    {% csrf_token %}
                    <label for="guest_list_csv" class="label-text">Upload Guest List</label>
                    <div class="input-group w-80">
                        <input type="file" name="guest_list_csv" id="guest_list_csv" class="form-control " required />
                        <div class="input-group-append">
                            <button class="form-control btn accept-btn border rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-upload left"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Search for guests by first_name or last_name -->
    <div class="row justify-content-evenly">
        <div class="col-auto mx-2">
            <form method="GET" action="{% url 'guests' %}">
                <div class="input-group w-100">
                    <input class="form-control border rounded-0" type="text" name="q" placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control btn accept-btn border rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search ml-2"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Add an individual guest record -->
        <div class="col-auto mx-2">
            <small class="ml-3"><a class="btn accept-btn border" href="{% url 'add_guest' %}"></i>Add
                    A New Guest</a></small>
        </div>
    </div>
    <!-- Table containing all guests invited -->
    <div class="row">
        <div class="col mx-2">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="guest-table cursive-text-color" scope="col">Group Id</th>
                            <th class="guest-table cursive-text-color" scope="col">First Name</th>
                            <th class="guest-table cursive-text-color" scope="col">Last Name</th>
                            <th class="guest-table cursive-text-color" scope="col">Accepted</th>
                            <th class="guest-table cursive-text-color" scope="col">Meal Chosen</th>
                            <th class="guest-table cursive-text-color" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for guest in guests %}
                            <tr>
                                <td>{{ guest.group_id }}</td>
                                <td>{{ guest.first_name }}</td>
                                <td>{{ guest.last_name }}</td>
                                {% if guest.accepted %}
                                    <td>{{ guest.accepted }}</td>
                                {% else %}
                                    <td>No Reply</td>
                                {% endif %}
                                {% if guest.meal_chosen %}
                                    <td class="text-center">Yes</td>
                                {% else %}
                                    <td class="text-center">No</td>
                                {% endif %}
                                <td><small class="ml-3"><a class="text-success"
                                            href="{% url 'view_guest' guest.id %}"></i>View</a> |
                                        <a href="{% url 'edit_guest' guest.id %}">Edit</a> |
                                        <a class="text-danger" href="{% url 'delete_guest' guest.id %}">Delete</a>
                                    </small>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}