{% extends 'base.html' %}
{% load static %}

{% block page-header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">

        <button type="button" class="btn accept-btn btn-sm"><i class="fas fa-search left"></i>&nbsp;Add</button>
        <button type="button" class="btn btn-secondary btn-sm" type="reset"><i
                class="fas fa-times-circle left"></i>&nbsp;Reset
        </button>

    </div>

    {% endblock %}