{% extends 'base.html' %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row justify-content-center">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mb-5 mt-md-5 px-5">
        <div class="row">
            <div class="col">
                <hr>
                <small>
                    <h3 class="text-center cursive-text-color">Add New Gift</h3>
                </small>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <!-- need   enctype="multipart.form-data"  for gifts add -->
                <form method="POST" action="{% url 'add_gift' %}" class="form md-2">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-secondary" href="{% url 'gifts' %}">Cancel</a>
                        <button class="btn accept-btn" type="submit">Add Gift</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}