{% extends 'base.html' %}
{% load static %}
{% load user_extras %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 text-center">
                <button type="button" class="btn btn-sm-light border-0" data-bs-toggle="modal" data-bs-target="#csv-help">
                    Upload Help
                </button>
            </div>
        </div>
        {% if request.user.is_staff or request.user.is_superuser %}
        <div class="row justify-content-xl-evenly justify-content-sm-center">
            <!-- Facility to upload a csv file containing the wedding gifts -->
            <div class="col-sm-12 col-md-8 col-xl-auto mx-2 my-3">
                <form method="POST" enctype="multipart/form-data" class="form-border">
                    {% csrf_token %}
                    <div class="input-group w-80">
                        <input type="file" name="gift_list_csv" id="gift_list_csv" class="form-control" required />
                        <div class="input-group-append">
                            <button class="form-control btn accept-btn border rounded-0" type="submit">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Add an individual gift record -->
            <div class="col-sm-12 col-md-4 col-xl-auto mx-2 my-3 add-record">
                <small class="ml-3">
                    <a class="btn accept-btn border" href="{% url 'add_gift' %}">Add A New Gift</a>
                </small>
            </div>
        </div>
        {% else %}
            <div class="row">
                <div class="col">
                    <hr><h3 class="text-center cursive-text-color">Gift List</h3><hr>
                </div>
            </div>
            <div class="row">
                <form class="col s12" method="POST" action="{% url 'gift_donation' gift_amount %}">
                    <div class="col mb-5 text-center">
                    <p class="lead text-left font-weight-bold">Please either select a gift from the list below or enter the amount you would like to gift.</p>
                    {% csrf_token %}
                        <input id="gift_amount" name="gift_amount" value="£0.00" pattern="^\d*(\.\d{0,2})?" type="text" placeholder="Gift Amount">
                        <label for="gift_amount" class="gift_amount" ></label>
                        <button class="btn accept-btn btn-sm" type="submit">Click here to proceed to payment</button>
                    </div>
                </form>
            </div>
        {% endif %}
        <!-- List of gifts -->
        <div class="gift-container col-10 offset-1">
        <div class="row">
            {% for gift in gifts %}
                {% if request.user.is_staff or request.user.is_superuser or not gift.selected %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if gift.image %}
                            <a href="{% url 'gift_detail' gift.id %}">
                                <img class="card-img-top img-fluid img-thumbnail" src="{{ MEDIA_URL }}{{ gift.image }}" alt="{{ gift.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'gift_detail' gift.id %}">
                                <img class="card-img-top img-fluid img-thumbnail" src="{{ MEDIA_URL }}noimage.png" alt="{{ gift.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ gift.name }}</p>
                                <p class="lead mb-0 text-left font-weight-bold">{{ gift.available }}</p>
                                <p class="lead mb-0 text-left font-weight-bold">£{{ gift.price }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col"> 
                                        <small class="ml-3">
                                            <a class="btn view-btn border btn-sm" href="{% url 'gift_detail' gift.id %}">View</a>    
                                            <!--  Only allow superuser or staff to edit or delete -->
                                            {% if request.user.is_staff or request.user.is_superuser %}
                                            <a class="btn edit-btn border btn-sm" href="{% url 'edit_gift' gift.id %}">Edit</a>
                                            <a class="btn delete-btn border btn-sm" href="{% url 'delete_gift' gift.id %}">Delete</a>
                                            {% endif %}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% include 'gifts/includes/gift-help.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}