{% extends 'base.html' %}
{% load static %}

{% block page-header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container px-5">
    <div class="row">
        <div class="col">
            <hr>
            <small>
                <h3 class="text-center cursive-text-color">Gift Details</h3>
            </small>
            <hr>
        </div>
    </div>
    <div class="row">
        <!-- Gift contact detail -->
        <div class="col">
            <h3 class="text-center cursive-text-color">{{ gift.name }}</h3>
            <div class="row my-2">
                <div class="col-12 col-md-6 mb-2 ">
                    <div class="image-container">
                        {% if gift.image %}
                        <a href="/media/{{ gift.image }}" target="_blank">
                            <img class="card-img-top img-fluid" src="/media/{{ gift.image }}" alt="{{ gift.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ gift.name }}">
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <p class="lead mb-2 text-left ">{{ gift.description }}</p>
                    {% if request.user.is_staff or request.user.is_superuser %}
                        <div class="row">
                            <div class="col mb-2">
                                <a class="lead text-left font-weight-bold text-success" href="{{ gift.supplier_url }}">Supplier Link</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <a class="lead text-left font-weight-bold" href="{{ gift.image_url }}">Image Link</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col mb-2">
                                <a class="lead text-left font-weight-bold text-success" href="{{ gift.supplier_url }}">Buy Here</a>
                            </div>
                        </div>
                    {% endif %}
                        <p class="lead mb-0 text-left font-weight-bold">£{{ gift.price }}</p>
                    
                    {% if request.user.is_staff or request.user.is_superuser %}
                        {% if gift.selected %}
                            <p class="lead mb-0 text-left font-weight-bold">Guest Name</p>
                        {% else %}
                            <p class="lead mb-0 text-left font-weight-bold">Available</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            
        </div>
        {% if request.user.is_staff or request.user.is_superuser %}
            <div class="d-inline-flex justify-content-center  ">
                <small class="ml-3">
                    <a href="{% url 'edit_gift' gift.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_gift' gift.id %}">Delete</a>
                </small>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}