<!-- Menu Help Modal -->
<div class="modal fade" id="csv-help" tabindex="-1" aria-labelledby="csv-help-label" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title cursive-text-color" id="csv-help-label">Menu File Upload Help</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <h4> Below are details of how to create your Wedding Breakfast Menu.</h4>
        <p>1. Download the <a href="data:text/csv;charset=utf-8,course,menu_item" download="wedding-breakfast-template.csv">Wedding Breakfast Menu</a>. <br>The template contains headings for the details you need to fill in.
        <p>2. Save the file. You can change the name as long as it ends .csv</p>
        <p>3. Upload the file you saved on the Menu Maintenance page.</p>
        <hr>
        <p>N.B. Please remove any accents, commas and special characters before uploading.<br>
        The course needs to be 'starter', 'main' or 'dessert' for the menu to appear in the correct order.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>