html {
    height: 100%;
}

body {
    background-image: linear-gradient(to right, var(--primary-mint), var(--primary-peach));
    height: 100%;
    color: var(--primary-font);
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.cursive-text-color {
    color: var(--primary-font);
    text-shadow: -0.5px 0 #000, 0 1px var(--primary-font-shadow);
}
.banner {
    font-family: 'Lovers Quarrel', cursive;
    font-size: calc(2rem + 8.3vw);
}

.rsvp {
    font-size: calc(2rem + .3vw);
    transform: rotate(6.5deg);
}

h2, h3, h4, h5 {
    font-family: 'Italianno', cursive;
}
h2 {
    font-size: calc(2rem + 2.3vw);
}
h3 {  
    font-size: calc(1.5rem + 1.3vw) !important;
}
th.guest-table {
    font-family: 'Italianno', cursive;
    color: var(--primary-font);
    font-size: calc(1rem + 0.9vw) !important;
    text-shadow:  0 1px var(--primary-font-shadow);
}
label {
    color: var(--primary-font);
}
/*  Colours */
:root {
    --primary-peach: #FFF9F7;
    --secondary-peach: #fdd7cb;
    --primary-mint: #E9F7F2;
    --secondary-mint: #B7E0D2;
    --primary-grey: #C7C8CA;
    --primary-font: #48494a;
    --primary-background: #FFFEF2;  
    /* --primary-background: #FFFEFf; */
    --secondary-font-shadow: #947a27;
    --primary-font-shadow: #e6d090;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.label-text {
    text-align: center;
    padding-left: 1%;
}
/* buttons */
button {
    color: -internal-light-dark(var(--primary-font, white));
}
.btn,
button {
    border: 1px solid var(--primary-font);
    border-radius: 0.25rem;
    border-width: 1px;
}
.accept-btn {
    background-color: var(--primary-mint); 
}
.upload-button {
    justify-content: flex-end;
}

.change-btn {
    background-color: var(--secondary-peach);
}
/* i {
    color:var(--primary-font);
} */
/* Nav Bar  */

.nav-item {
    font-size: calc(0.5rem + 1.3vw);
    color: var(--primary-font);
    font-family: 'Italianno', cursive;
    text-shadow: -0.5px 0 #000, 0 2px var(--primary-font-shadow);
}


.navbar-toggler-icon {
    background-color: var(--primary-mint);
}
.dropdown-menu.show,
.nav-item {
    padding: 0;
    background-color: var(--primary-mint);
}

.dropdown_item {
    font-size: calc(1rem + 1.3vw);
}
footer {
    background-color: var(--secondary-mint);
}
footer li {
    list-style-type: none;
    display: flex;
}
 
/* forms */


#home {
    height: 100vh;
    width: 100vw;
}

.row.home-row {
    height: 50vh;
}

#our-story,
#covid-restrictions {
    background-color: var(--primary-peach);
    width: 100vw;
    /* padding: 5%; */
    opacity: 0.9;
}

#location {
    background-color: var(--primary-mint);
    width: 100vw;
    /* padding: 5%; */
    opacity: 0.9;
}

.carousel {
    width: 24%;
    height: auto;
    margin-left: 38%;
}

/* buttons */

.rsvp-button {
    border: none;
    height: 300px;
    width: 300px;
}

.form-control {
    width: 75%;
}
.card {
    width: 70%;
    background: url('/media/juliet_rose.jpg') center center fixed;
    background-size: cover;
}
/* -- Guest --*/
.guest-contact-container {
    
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    body {
        background-size: 100%;
    }
    .label-text {
        text-align: left;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        /* padding-top: 164px; */
        padding-top: 70px;
        padding-left: 70px;
    }

}

/* Small screens  */
@media (max-width: 750px) {
    .row.home-row {
        height: 75vh;
    }

    .carousel {
        width: 80%;
        height: auto;
        margin-left: 10%;
    }
}