html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_image.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: var(--primary-font);
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.cursive-text-color {
    color: var(--primary-font);
    text-shadow: -0.5px 0 #000, 0 1px var(--primary-font-shadow);
}
.banner {
    font-family: 'Lovers Quarrel', cursive;
    font-size: calc(2rem + 8.3vw);
}

.rsvp {
    font-size: calc(2rem + .3vw);
    transform: rotate(6.5deg);
}

.heading-font {
    font-family: 'Italianno', cursive;
}
h2.heading-font {
    font-size: calc(2rem + 2.3vw);
}
h3.heading-font {
    font-size: calc(1.5rem + 1.3vw) !important;
}

/*  Colours */
:root {
    --primary-peach: #FFF9F7;
    --secondary-peach: #FBC8B7;
    --primary-mint: #E9F7F2;
    --secondary-mint: #B7E0D2;
    --primary-grey: #C7C8CA;
    --primary-font: #48494a;
    --secondary-font-shadow: #947a27;
    --primary-font-shadow: #e6d090;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Nav Bar  */
.bg-light {
    background-color: transparent !important;
}

.nav-item {
    font-size: calc(1rem + 1.3vw);
    color: var(--primary-font);
    font-family: 'Italianno', cursive;
    /* text-shadow: -0.5px 0  var(--primary-font-shadow), 0 1px var(--secondary-font-shadow); */
    text-shadow: -0.5px 0 #000, 0 1px var(--primary-font-shadow);
}

.dropdown_menu {
    background-color: rgba(233, 247, 242, 0.8) ;
}

.dropdown_item {
    font-size: calc(1rem + 1.3vw);
}
footer {
    background-color: var(--secondary-mint);
}

#home {
    height: 100vh;
    width: 100vw;
}

.row.home-row {
    height: 50vh;
}

#our-story,
#covid-restrictions {
    background-color: var(--primary-peach);
    width: 100vw;
    /* padding: 5%; */
    opacity: 0.9;
}

#location {
    background-color: var(--primary-mint);
    width: 100vw;
    /* padding: 5%; */
    opacity: 0.9;
}

.carousel {
    width: 24%;
    height: auto;
    margin-left: 38%;
}

/* buttons */

.rsvp-button {
    height: 300px;
    width: 300px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    body {
        background-size: 100%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

}

/* Small screens  */
@media (max-width: 750px) {
    .row.home-row {
        height: 75vh;
    }

    .carousel {
        width: 80%;
        height: auto;
        margin-left: 10%;
    }
}