<!-- <li class="nav-item">
    <a class="nav-link" href="#">Preview Links</a>
</li> -->

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Maintenance Views
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'guests' %}">Guest List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Gift List</a>
        </li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Guest Views
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Venue</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Menu</a></li>
    </ul>
</li>