<div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'guests' %}">Guest List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'venues' %}">Venue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedules' %}">Schedule</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'menus' %}">Menu</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'gifts' %}">Gift List</a>
        </li>
    </ul>
</div>