{% load user_extras %}

{% if request.user|has_group:'accepted' %}
    <li class="nav-item">
        <a class="nav-link" href="#">Venue</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Menu</a>
    </li>
{% else %}
    {% if request.user|has_group:'declined' %}
        <li class="nav-item">
            <a class="nav-link" href="#">Gift List</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'rsvp' %}">RSVP</a>
        </li>
    {% endif %}
{% endif %}
    
