{% load user_extras %}
<div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user|has_group:'accepted' %}
            <li class="nav-item">
                <a class="nav-link" href="#">Venue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Menu</a>
            </li>
        {% endif %}
        {% if request.user|has_group:'accepted' or request.user|has_group:'declined' %}
            <li class="nav-item">
                <a class="nav-link" href="#">Gift List</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rsvp' %}">RSVP</a>
            </li>
        {% endif %}
    </ul>
</div>