{% extends 'base.html' %}
{% load static %}

{% block page-header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<main>
<div class="container justify-content-center">
    {% if not request.user.is_staff and not request.user.is_superuser %}
    <div class="clearfix">
        <div class="col-md-3 float-md-end ms-md-3">
            <a class="btn select-btn border" href="{% url 'menu_selection' %}">Menu Selection</a>
        </div>
    </div>
    {% endif %}
    <div class="row ">
        <div class="col-sm-12 col-md-10 offset-md-1">
            <h3 class="pl-5 text-center cursive-text-color">Menu</h3>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="menu-container card border-0 py-2">
            <div class="menu-overlay">&nbsp;</div>
            <div class="row">
                <!-- menu details -->
                <div class="col-10 offset-1 ">
                    {% for course in courses %}
                        <div class="row">
                            <div class="col text-callout text-center text-uppercase">
                                <p class="mb-0 mt-1 menu">{{ course }}</p>
                            </div>
                        </div>
                        {% for menu in menus %}
                            {% if menu.course == course %}
                                <div class="row py-2"> 
                                    <div class="col text-callout text-center">
                                        <h3 class="mb-0 mt-1 menu">{{ menu.menu_item }}</h3>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if forloop.counter != courses|length %}
                            <hr>
                        {% else %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% endblock %}