{% extends 'base.html' %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- Facility to upload a csv file containing the wedding menus -->
            <div class="card upload mx-auto mb-2">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" class="form-border">
                        {% csrf_token %}
                        <label for="menu_list_csv" class="label-text">Upload Wedding Breakfast Menu</label>
                        <div class="input-group w-80">
                            <input type="file" name="menu_list_csv" id="menu_list_csv" class="form-control " required />
                            <div class="input-group-append">
                                <button class="form-control btn accept-btn border rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-upload left"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Search for menus by first_name or last_name -->
        <div class="row justify-content-evenly">
            <div class="col-auto mx-2">
                <form method="GET" action="{% url 'menus' %}">
                    <div class="input-group w-100">
                        <input class="form-control border rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn accept-btn border rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search ml-2"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Add an individual menu record -->
            <div class="col-auto mx-2">
                <small class="ml-3"><a class="btn accept-btn border" href="{% url 'add_menu' %}"></i>Add
                        A New Menu Item</a></small>
            </div>
        </div>
        <!-- Table containing a list of invited menus -->
        <div class="row">
            <div class="col mx-2">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th class="menu-table cursive-text-color" scope="col">Group Id</th>
                                <th class="menu-table cursive-text-color" scope="col">First Name</th>
                                <th class="menu-table cursive-text-color" scope="col">Last Name</th>
                                <th class="menu-table cursive-text-color" scope="col">Accepted</th>
                                <th class="menu-table cursive-text-color" scope="col">Meal Chosen</th>
                                <th class="menu-table cursive-text-color" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for menu in menus %}
                                <tr>
                                    <td>{{ menu.group_id }}</td>
                                    <td>{{ menu.first_name }}</td>
                                    <td>{{ menu.last_name }}</td>
                                    {% if menu.accepted %}
                                        <td>{{ menu.accepted }}</td>
                                    {% else %}
                                        <td>No Reply</td>
                                    {% endif %}
                                    {% if menu.meal_chosen %}
                                        <td class="text-center">Yes</td>
                                    {% else %}
                                        <td class="text-center">No</td>
                                    {% endif %}
                                    <td><small class="ml-3"><a class="text-success"
                                                href="{% url 'menu_detail' menu.id %}"></i>View</a> |
                                            <a href="{% url 'edit_menu' menu.id %}">Edit</a> |
                                            <a class="text-danger" href="{% url 'delete_menu' menu.id %}">Delete</a>
                                        </small>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% endblock %}