{% extends 'base.html' %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 text-center">
                    <button type="button" class="btn btn-sm-light border-0" data-bs-toggle="modal" data-bs-target="#csv-help">
                        Upload Help
                    </button>
                </div>
            </div>
            <div class="row justify-content-xl-evenly justify-content-sm-center">
                <!-- Facility to upload a csv file -->
                <div class="col-sm-12 col-md-8 col-xl-auto mx-2 my-3">
                    <form method="POST" enctype="multipart/form-data" class="form-border">
                        {% csrf_token %}
                        <div class="input-group w-80">
                            <input type="file" name="schedule_csv" id="schedule_csv" class="form-control" required />
                            <div class="input-group-append">
                                <button class="form-control btn accept-btn border rounded-0" type="submit">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Add a record -->
                <div class="col-sm-12 col-md-4 col-xl-auto mx-2 my-3 add-record">
                    <small class="ml-3">
                        <a class="btn accept-btn border" href="{% url 'add_schedule' %}">Add A New Event</a>
                    </small>
                </div>
            </div>
            <!-- Table containing a list of invited schedules -->
            <div class="row">
                <div class="col mx-5">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-sm">
                            <thead>
                                <tr>
                                    <th class="schedule-table cursive-text-color" scope="col">Time</th>
                                    <th class="schedule-table cursive-text-color" scope="col">Event Details</th>
                                    <th class="schedule-table cursive-text-color text-center" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for schedule in schedules %}
                                    <tr>
                                        <td>{{ schedule.time }}</td>
                                        <td>{{ schedule.event }}</td>
                                        <td class="text-center">
                                            <small class="ml-3">
                                                <a class="btn view-btn border btn-sm" href="{% url 'display_schedule' %}">View</a>
                                                <a class="btn edit-btn border btn-sm" href="{% url 'edit_schedule' schedule.id %}">Edit</a>
                                                <a class="btn delete-btn border btn-sm" href="{% url 'delete_schedule' schedule.id %}">Delete</a>                                        
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% include 'schedules/includes/schedule-help.html' %}
    </main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}